# Agent Artifacts
.adal/
.agents/
.aider-desk/
.augment/
.bob/
.claude/
.codeartsdoer/
.codebuddy/
.codemaker/
.codestudio/
.commandcode/
.continue/
.cortex/
.crush/
.devin/
.factory/
.forge/
.goose/
.iflow/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.rovodev/
.tabnine/
.trae/
.vibe/
.windsurf/
.zencoder/

# Project Specific
cache/
scratch/
memoria.md
color_proposals.html
preview.html

# macOS
.DS_Store
**/.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
**/node_modules/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/supabase/.env

# Build Artifacts
**/.next/
**/.turbo/
**/out/
**/dist/
**/.expo/
**/web-build/
**/ios/
**/android/

# others
Entrega 1.pdf